<app-sidebar></app-sidebar>

<!-- ======== main-wrapper start =========== -->
<main class="main-wrapper">

    <app-header></app-header>

    <!-- ========== section start ========== -->
    <section class="section">
        <div class="container-fluid">
            <app-breadcrumbs></app-breadcrumbs>
            <router-outlet></router-outlet>
        </div>
        <!-- end container -->
    </section>
    <!-- ========== section end ========== -->

    <app-footer></app-footer>
</main>
<!-- ======== main-wrapper end =========== -->

