<div class="row">
    <div class="col-12">
        <div class="icon-card ">
            <div class="icon purple" [style.background-color]="project.color">
                <i class="pi pi-sitemap" style="color: white;"></i>
            </div>
            <div class="content">
                <h6 class="mb-10">Project Name</h6>
                <h3 class="text-bold mb-10">{{project.name}}</h3>
                
                <p class="text-sm text-success">
                    <i class="lni lni-arrow-up"></i> {{porcentantCompleted}}%
                    <span class="text-gray">({{totalTasksCompleted}} of {{totalTasks}} completed)</span>
                </p>
            </div>
            <button pButton type="button" (click)="showProjectDialog()" icon="pi pi-pencil" class="p-button-text p-button-plain float-end"></button>
        </div>
       
    </div>


    <div class="col-12 mt-3">
        <app-todo-manage [todoTypeView]="todoTypeView" [currentProject]="project" [color]="project.color"></app-todo-manage>
    </div>
</div>
<!-- End Icon Cart -->


<app-project-form [display]="display" [action]="action"  (isHide)="closeProjectDialog()"></app-project-form>