<h1 class="mb-5">Login</h1>
<form action="#">
  <div class="row">
    <div class="col-12">
      <div class="input-style-1">
        <label>Email</label>
        <input type="email" placeholder="Email" />
      </div>
    </div>
    <!-- end col -->
    <div class="col-12">
      <div class="input-style-1">
        <label>Password</label>
        <input type="password" placeholder="Password" />
      </div>
    </div>
    <!-- end col -->

    <div class="col">
      <div class="float-end mb-30">
        <a href="#0" class="hover-underline">Forgot Password?</a>
      </div>
    </div>
    <!-- end col -->
    <div class="col-12">
      <div class="button-group d-flex justify-content-center flex-wrap">
        <button class="main-btn primary-btn btn-hover w-100 text-center">
          Sign In
        </button>
      </div>
    </div>
  </div>
  <!-- end row -->
</form>

<p class="text-sm text-medium text-dark float-left mt-3">
  Don’t have any account yet?
  <a routerLink="/auth/register">Create an account</a>
</p>
