

      <h1 class="mb-5">Register</h1>
      <form action="#">
        <div class="row">
          <div class="col-12">
            <div class="input-style-1">
              <label>Name</label>
              <input type="text" placeholder="Name" />
            </div>
          </div>
          <!-- end col -->
          <div class="col-12">
            <div class="input-style-1">
              <label>Email</label>
              <input type="email" placeholder="Email" />
            </div>
          </div>
          <!-- end col -->
          <div class="col-12">
            <div class="input-style-1">
              <label>Password</label>
              <input type="password" placeholder="Password" />
            </div>
          </div>
          <!-- end col -->
          <div class="col-12">
            <div class="input-style-1">
              <label>Confirm Password</label>
              <input type="password2" placeholder="Password" />
            </div>
          </div>
          <!-- end col -->

          <!-- end col -->
          <div class="col-12">
            <div
              class="
                button-group
                d-flex
                justify-content-center
                flex-wrap
              "
            >
              <button
                class="
                  main-btn
                  primary-btn
                  btn-hover
                  w-100
                  text-center
                "
              >
                Sign Up
              </button>
            </div>
          </div>
        </div>
        <!-- end row -->
      </form>

      <p class="text-sm text-medium text-dark float-left mt-3">
        Already have an account? <a routerLink="/auth/login">Sign In</a>
      </p>

