

.card-style-todo{
    border: none;
    margin-bottom: 2px;
   }
   
   .card-style-todo:hover{
       background-color: #eeeeee;
       border: #c5c3c3
       
   }
   


:host ::ng-deep .p-tabview-panels {

    background: #fff;
    box-sizing: border-box;
    padding: 25px 30px;
    position: relative;
    border: 1px solid #e2e8f0;
    box-shadow: 0px 10px 20px rgb(200 208 216 / 30%);
    border-bottom-right-radius: 22px !important;
    border-bottom-left-radius: 22px !important;
    
}


#TodoFormId{

}
/* media query de 500px para arriba */
@media screen and (min-width: 500px) {
  #TodoFormId{
    width: 30vw;
  }
}

/* media query de 1500px para abajo */
@media only screen and (max-width: 1500px) {
  #TodoFormId{
    width: 40vw;
  }
}
/* media query de 800px para abajo */
@media only screen and (max-width: 1000px) {
  #TodoFormId{
    width: 60vw;
  }
}
/* media query de 800px para abajo */
@media only screen and (max-width: 800px) {
  #TodoFormId{
    width: 80vw;
  }
}




#colorPicker {
    height: 59px !important;
  width: 100%;
  background: rgba(239, 239, 239, 0.5);
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 16px;
  padding-left: 45px;
  color: #5d657b;
  resize: none;
  transition: all 0.3s; }

#colorPicker:focus {
    border-color: #4a6cf7;
    background: #fff; }

