<p-dialog header="{{action}} Project" [draggable]="false" [(visible)]="display" [modal]="true" [responsive]="false"
    [baseZIndex]="10000" appendTo="body" (onHide)="hideForm()" (onShow)="showForm()" >



    <form id="ProjectFormId" [formGroup]="projectForm" (ngSubmit)="manageProject()">
        <div class="row">
            <div class="input-style-1 col-6 col-md-8 col-lg-9">
                <label>Project Name</label>
                <input type="text" placeholder="Name"   formControlName='name'/>
                <span class="form-text text-danger" style="margin-bottom: 13px; text-align: end !important;"
                *ngIf="isValidInput('name')">
                    The last name is required
                </span>
            </div>
            <!-- end input -->
            <div class="input-style-2 col-6 col-md-4 col-lg-3">
                <label>Pick a Color</label>
                <input type="color"  id="colorPicker" formControlName="color">
            </div>
        </div>
        <!-- end input -->
        <div class="input-style-1">
            <label>Description</label>
            <textarea placeholder="Description" rows="5" formControlName="description"></textarea>
            <span class="form-text text-danger" style="margin-bottom: 13px; text-align: end !important;"
            *ngIf="isValidInput('description')">
                The last name is required
            </span>
        </div>

        
        
            
            <p-footer>
                <a *ngIf="action == 'Update'" pRipple (click)="confirmDeleteProject($event)"  icon="pi pi-info-circle" class="btn btn-outline-danger mt-3 float-end" style="margin-left: 5px;">
                    <!-- [disabled]="nameForm.invalid || !nameForm.touched"> -->
                    Delete
                </a>
                <button pRipple type="submit" icon="pi pi-info-circle" class="btn btn-outline-primary mt-3 float-end">
                    <!-- [disabled]="nameForm.invalid || !nameForm.touched"> -->
                    {{action}}
                </button>
            </p-footer>
        

    </form>
    <p-toast></p-toast>

    <p-confirmPopup [baseZIndex]="30000"></p-confirmPopup>

</p-dialog>


