#ProjectFormId{

}
/* media query de 500px para arriba */
@media screen and (min-width: 500px) {
  #ProjectFormId{
    width: 50vw;
  }
}

/* media query de 500px para abajo */
@media only screen and (max-width: 500px) {
  #ProjectFormId{
    width: 80vw;
  }
}




#colorPicker {
    height: 59px !important;
  width: 100%;
  background: rgba(239, 239, 239, 0.5);
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 16px;
  padding-left: 45px;
  color: #5d657b;
  resize: none;
  transition: all 0.3s; }

#colorPicker:focus {
    border-color: #4a6cf7;
    background: #fff; }